.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border: 0px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.hidden {
  display: none;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 0.8em;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
