  <div class="card-body">
    <table mat-table class="table table-bordered">
      <thead class="thead-white">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">Actions</th>
        <th scope="col">Enabled</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>

          <div class="buttons_roles">
            <button mat-raised-button color="basic" a routerLink="/change_role_user">User</button>
            <button mat-raised-button color="accent" a routerLink="/change_role_admin">Admin</button>
            <button mat-raised-button color="basic" a routerLink="/change_role_dba">DBA</button>
          </div>

        <td>
        <div class="buttons_actions">
          <button mat-raised-button color="basic" a routerLink="/user_edit">Edit</button>
          <button mat-raised-button color="warn" a routerLink="/user_delete">Delete</button>
        </div>

        <td>
        {{ user.enable }}
        </td>


      </tr>
      </tbody>
    </table>
    <button mat-raised-button color="primary" a routerLink="/user_add">Add New User</button>
  </div>

