<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td><a routerLink="/changeroleuser" class="btn btn-secondary">User</a>&nbsp;<a routerLink="/changeroleadmin" class="btn btn-secondary">Admin</a>&nbsp;<a routerLink="/changeroledba" class="btn btn-secondary">DBA</a></td>
        <td><a routerLink="/edituser" class="btn btn-secondary">Edit</a>&nbsp;<a routerLink="/deleteuser" class="btn btn-danger">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/adduser" class="btn btn-info">Add User</a>
  </div>
</div>

