<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Application Name</th>
        <th scope="col">Application Version</th>
        <th scope="col">Database Engine</th>
        <th scope="col">View Engine</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let setting of settings">
        <td>{{ setting.applicationName }}</td>
        <td>{{ setting.applicationVersion }}</td>
        <td>{{ setting.dbName }}</td>
        <td>{{ setting.viewEngine }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
